#Fichiers MacOS
.DS_Store

# config Eclipse
.settings/
.svn/
*.tern-project
*.project
*.classpath

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Compiled output
**/target/
*.class
# dependencies
**/node_modules/
**/dist/
**/tmp/
**/out-tsc

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bin/

.history/